USE [Corona]
GO
/****** Object:  Database [Corona]    Script Date: 28/03/2024 0:50:56 ******/
CREATE DATABASE [Corona]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Corona', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Corona.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Corona_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Corona_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Corona].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Corona]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 28/03/2024 0:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

insert into Cities(name) values('Jerusalem')
insert into Cities(name) values('TelAviv') 
insert into Cities(name) values('Jaffa') 

/****** Object:  Table [dbo].[Manufactors]    Script Date: 28/03/2024 0:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactors](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Manufactor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

insert into Manufactors(Id,Name) values(1111,'Moderna')
insert into Manufactors(id,name) values(2222,'Fizer') 
insert into Manufactors(id,name) values(3333,'AstraZeneca') 

/****** Object:  Table [dbo].[PatientInfections]    Script Date: 28/03/2024 0:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientInfections](
	[PatientId] [int] NOT NULL,
	[DatePositive] [datetime] NOT NULL,
	[DateRecovery] [datetime] NULL,
 CONSTRAINT [PK_PatientInfection] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 28/03/2024 0:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[CityId] [int] NOT NULL,
	[Address] [nvarchar](20) NOT NULL,
	[DateBirth] [datetime] NOT NULL,
	[Phone] [varchar](15) NULL,
	[MobilePhone] [varchar](15) NOT NULL,
	[HouseNumber] [int] NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientVaccinations]    Script Date: 28/03/2024 0:50:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientVaccinations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patientId] [int] NOT NULL,
	[manufactorId] [int] NOT NULL,
	[vaccinationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PatientVaccination] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PatientInfections]  WITH CHECK ADD  CONSTRAINT [FK_PatientInfection_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientInfections] CHECK CONSTRAINT [FK_PatientInfection_Patients]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_City]
GO
ALTER TABLE [dbo].[PatientVaccinations]  WITH CHECK ADD  CONSTRAINT [FK_PatientVaccination_Manufactor] FOREIGN KEY([manufactorId])
REFERENCES [dbo].[Manufactors] ([Id])
GO
ALTER TABLE [dbo].[PatientVaccinations] CHECK CONSTRAINT [FK_PatientVaccination_Manufactor]
GO
ALTER TABLE [dbo].[PatientVaccinations]  WITH CHECK ADD  CONSTRAINT [FK_PatientVaccination_Patients] FOREIGN KEY([patientId])
REFERENCES [dbo].[Patients] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientVaccinations] CHECK CONSTRAINT [FK_PatientVaccination_Patients]
GO
USE [master]
GO


